#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Encoding=UTF-8
Name=Visual Studio Code
Comment=Ambiente de desenvolvimento de código.
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=folldkmdemalpnebhpaomcdccedagmgb
Icon=/home/professor/Imagens/VSCode.png
StartupWMClass=crx_folldkmdemalpnebhpaomcdccedagmgb
Name[pt_BR]=VSCode.desktop
